page-cart {
    .buttons-components-page {

        ion-card {
          margin-bottom: 2em;
        }
      
        ion-card-content {
          background-color: #F4F5F8;
        }
      
        ion-card img {
          width: auto;
          height: 44px;
          display: block;
          margin: 20px auto;
        }
      
      }
      .bg{
        background: #dee7e9 
      }
      .color {
        background: linear-gradient(to bottom,  #dee7e9 0%, #eaebec 100% );
    
      }
}
